#gdlpid .videobox {
    display: none;
    outline: 2000px solid rgba(0,0,0,0.8);
    width: 80vmin;
    height: 60vmin;
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin-left: -40vmin;
    margin-top: -30vmin;
    z-index: 32765;
    transform-origin: 0 0;
    overflow: hidden;
	background: white;
}

#gdlpid .videobox img.logo {
	margin: 5px;	
	width: 100px;	
}

/* PICK A CHARITY */
#gdlpid .videobox .charity_chooser {
    position: absolute;
    left: 0%;
	top: 600px;
    width: 100%;
    /*height: 11vw;*/
	height: 90px;
    background-color: rgba(0,0,0,0.6);
    z-index: 6;
    /*pointer-events: none;*/
    overflow: hidden;
    opacity: 0;
	display: none;
    transition: opacity 0.5s ease;
	transition: top 0.5s ease;    
}
#gdlpid .videobox .charity_chooser.showing {
    /*pointer-events: auto;*/
    opacity: 1;
	display: block;
}
#gdlpid .videobox .charity_chooser h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 270px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background: transparent;
    transform: translateY(-50%);
}
#gdlpid .videobox .charity_chooser ul {
    /*width: 33vw;*/
    /*width: -moz-calc(30vw + 30px);
    width: -webkit-calc(30vw + 30px);*/
    width: calc(30vw + 30px);
    margin: 0;
    background: transparent;
    position: absolute;
    /*bottom: 0;*/
    right: 0;
    max-height: 80px;
}
#gdlpid .videobox .charity_chooser li {
    width: 10vw;
    /*height: 10vw;*/
    max-width: 80px;
    height: 80px;
	margin-top: 5px;
	border: solid 1px white;
	border-radius: 10px;
    display: block;
    float: right;
    position: relative;
    background: transparent;
    text-indent: -1000em;
    margin-right: 10px;
	overflow: hidden;
	cursor: pointer;
}
#gdlpid .charity_chooser img.clogo {
	/*right:5px;*/
	max-height:80px;
	margin: auto;
	width:80%;
	z-index: 3;
}
#gdlpid .charity_chooser img.cphoto {
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	border-radius: 10px;
	z-index: 2;
}

#gdlpid .videobox button.close {
    width: 40px;
    height: 34px;
    /*background: black;*/
    color: black;
    font-size: 28px;
    position: absolute;
    top:0px;
    right:0px;
    z-index: 5;
}
/* this catches close-out clicks */
#gdlpid .backdrop {
	display: none;
	z-index: 32760;
	background:transparent;
	position: fixed;
	top:0; left:0;
	right:0; bottom:0;
}

#gdlpid .videobox .vcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height:100%;
    z-index: 3;
    align-items: center;
    justify-content: center;
}
#gdlpid .videobox .vcontainer video {
    max-width: 100%;
}

#gdlpid .videobox .message {
    background: transparent;
    padding: 10px 10px 0px 10px;
	width:100%;
	text-align: center;
    font-size: 16px;
}

/* after the video */

#gdlpid .videobox .vcontainer .endpage {
    color: black;
	padding: 25px;
	height:100%;
}
#gdlpid .videobox .vcontainer .endpage.thankyou {
	background: transparent;
}
#gdlpid .endpage .dntn {
	top:25%;
	left:50%;
	right:0;
}
#gdlpid .endpage .amount{
	font-size:12px;
}


@media (max-width: 600px) {
    #gdlpid .videobox {
        width: 100vw;
        height: 80vw;
        top: 50vh;
        left: 0;
        margin-top: -40vw;
        margin-left: 0;
    }
    #gdlpid .videobox .vcontainer {
        background-size: 50px 20px;
        background-position: 3px 3px;
    }
    #gdlpid .videobox .charity_chooser {
        height: 80%;
    }
    #gdlpid .videobox .charity_chooser h2 {
        right: 60%;
        font-size: 12px;
        width: 40%;
    }
    #gdlpid .videobox .charity_chooser ul {
        width: 60%;
        height: 100%;
    }
    #gdlpid .videobox .charity_chooser li {
        width: 30%;
        margin: 0 2px;
        height: 100%;
    }
    #gdlpid .videobox .message {
        font-size: 12px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10/11-specific styles go here */
    #gdlpid .videobox .vcontainer > div, #gdlpid .videobox .vcontainer .endpage {
        width: 100%;
        height: 100%;
    }
    #gdlpid .videobox .charity_chooser {
        display: none;
    }
    #gdlpid .videobox .charity_chooser.showing {
        opacity: 1;
        display: block;
    }
}