#gdlpid.stickybottom {
    width: 100%;
    height: 50px;
    border: 1px solid #808080;
}

#gdlpid.stickybottom .logo {
	height: 36%;
}

#gdlpid.stickybottom .h2 {
	font-size: 0.6em;
}

#gdlpid.stickybottom .adlogo {
	height: 40%;
}