
/* RESET */
#gdlpid {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
#gdlpid * {
    margin: 0;
    padding: 0;
    display: block;
    color: black;
}
#gdlpid li { list-style: none; }
#gdlpid h1,h2,h3,h4 {
    font-size: inherit;
}
#gdlpid a, #gdlpid span {
	display: inline; 
}
#gdlpid a {	
    text-decoration: none;
}
#gdlpid button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
#gdlpid ::-moz-focus-inner {
    padding: 0;
    border: 0;
}
#gdlpid :focus {
    outline: 0;
}
#gdlpid img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* Ad sizes */
#gdlpid.medium-rectangle {
    width: 300px;
    height: 250px;
    border: 1px solid #808080;
    overflow: hidden;
}
#gdlpid.mobile {
    width: calc(100vw - 70px);
    height: 50px;
    border: 1px solid #808080;
    overflow: hidden;
}


/* GENERAL */

#gdlpid {
    position: relative;
	font-family: Tahoma, Geneva, sans-serif;
}
#gdlpid .video {

}

#gdlpid img.tw {
	width: 35px;
	height: 29px;
}
#gdlpid img.fb {
	width: 29px;
	height: 29px;
}

@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

        #gdlpid .charities li {
            background-size: 90px 90px;
        }

        #gdlpid.mobile .charities li {
            background-size: 45px 45px;
        }
}

