#gdlpid.vbnr {
    width: 120px;
    height: 240px;
    border: 1px solid #808080;
}

#gdlpid.vbnr header {
    left:0;
    height: 124px;
	width:100%;
}

#gdlpid.vbnr header .logo {
	position: absolute;
	left: 10px;
	width: 100px;
    top: 10px;
}
#gdlpid.vbnr header h2 {
    background: transparent;
    font-size: 14px;
    text-align: center;
    position: absolute;
    font-weight: normal;
    left: 5px;
    right: 5px;
	bottom: -99px;
    line-height: 15px;
    height: 15px;
}

#gdlpid.vbnr img.adlogo {
    background-color: transparent;
    position: relative;
    margin: auto;
    top: 38px;
    height: 45px;
    max-width:90%;
}

#gdlpid.vbnr span.play {
    top: 88px;
	left: 42px;
    height: 36px;
    width: 36px;
    border-radius: 50px;
    background-size: 22px 22px;
    background-position: 11px center;
}

#gdlpid.vbnr span.rarrow {
	position: absolute;
	top:124px;
	left:0;
	width: 0; 
	height: 0; 
	border-left:60px solid transparent;
	border-right:60px solid transparent;  
	border-top: 20px solid #666;
	z-index: 4;
}

/* CHARITIES */

#gdlpid.vbnr .charities {
    position: absolute;
    top: 124px;
    right: 0;
    width:100%;
    bottom:0;
}
#gdlpid.vbnr .charities li {
	position: absolute;
    top: 0;
    right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#gdlpid.vbnr .unit img.clogo {
	position:absolute;
	top:22px;
	left:50%;
	transform: translateX(-50%);
	height:60px;
	max-width:110px;
	z-index: 3;
}
#gdlpid.vbnr .charities img.cphoto {
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index: 2;
}
#gdlpid.vbnr .tq {
	left:5px;
	right:5px;
}
#gdlpid.vbnr .thankyou .gl_link {
	left:5px;
}
#gdlpid.vbnr .dntn img.tqlogo {
	width: 60px;
	margin: auto;
}
#gdlpid.vbnr .dntn {
	left:5px;
	right:5px;
	top:75px;
	width:110px;
	text-align: center;
}
#gdlpid.vbnr .tqh {
	font-size: 20px;
}
#gdlpid.vbnr .amount {
	display:none;
}
